@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f4fc;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

/* NAV BAR */

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #292e47;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f4fc;
  color: #072ac8;
}

.topnav a.active {
  color: #072ac8;
}

.topnav .icon {
  display: none;
}

/* HERO SECTION */

.hero-section {
  padding: 2rem 1.5rem;
}

.hero-headline {
  color: #292e47;
  line-height: 2rem;
  font-size: 2rem;
  text-align: center;
}

.hero-paragraph {
  color: #6b708d;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.hero-contact-btn {
  background-color: #072ac8;
  color: #f2f4fc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.hero-contact-btn:hover {
  background-color: #43d2ff;
  color: #072ac8;
  transition: .5s ease-in-out 0s;
}

.our-work-btn {
  text-decoration: none;
  color: #6b708d;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.our-work-btn:hover {
  color: #072ac8;
  transform: scale(1.1);
  transition: .5s ease-in-out 0s;
}

.hero-article-right {
  position: relative;
}

#hero-img {
  max-width: 100%;
  position: relative;
  justify-content: center;
}

#hero-card1 {
  max-width: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
}

#hero-card2 {
  max-width: 50%;
  position: absolute;
  bottom: -50px;
  right: -50px;
}

.collaboration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.collaboration-section img {
  filter: grayscale(100%);
  padding: 0 0 1.5rem 0;
}

.collaboration-section img:hover {
  transform: scale(1.4);
  cursor: pointer;
  transition: .5s ease-in-out 0s;
}

/* PROJECT SECTION */
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section h2 {
  color: #292e47;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.project-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.project-section img {
  width: 90%;
  padding-bottom: 1rem;
}

.project-section h3,
p {
  color: #6b708d;
  margin-bottom: 0.5rem;
}

.project-section a {
  color: #072ac8;
  text-decoration: none;
  font-weight: 500;
}

.project-section a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  background-color: #292e47;
  background-image: url(/assets/testimonial-section/orbit.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 60vh;
}

.testimonial-section h2,
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.testimonial-section h2 {
  padding-top: 7rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

#memoji1 {
  position: absolute;
  top: 10px;
  left: -10px;
  width: 25%;
}

#memoji2 {
  position: absolute;
  top: 10px;
  right: -5px;
  width: 25%;
}

#memoji3 {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 25%;
}

#memoji4 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25%;
}

.testimonial-section h2 {
  color: #f2f4fc;
}

.testimonial-text {
  color: #ffc600;
  padding-top: 0.75rem;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-image {
  width: 30%;
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

/* SERVICES SECTION */
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section h2 {
  color: #292e47;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.services-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1.5rem;
}

.service-image {
  background-color: #d1edff;
  border-radius: 50%;
  margin-left: 1.5rem;
}

.services-article-subtitle,
.services-article-paragraph {
  color: #6b708d;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.services-article a {
  color: #072ac8;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}

.services-article a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* NEWSLETTER SECTION */

.newsletter-section {
  background-color: #ffc600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-section h2 {
  color: #292e47;
  padding-top: 1.5rem;
}

.newsletter-section p {
  color: #6b708d;
  padding: 0.75rem;
}

.newsletter-input {
  padding: 0.75rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/assets/newsletter/icon/mail.svg);
  background-position: left;
  background-repeat: no-repeat;
  margin-bottom: 1.5rem;
  border: none;
}

.subscribe-btn {
  background-color: #072ac8;
  color: #f2f4fc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

.subscribe-btn:hover {
  background-color: #43d2ff;
  color: #072ac8;
  transition: .5s ease-in-out 0s;
}

/* FOOTER SECTION */

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.footer-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.footer-link {
  text-decoration: none;
  color: #6b708d;
}

/* SIMPLIFY SECTION */
.simplify-main-image {
  width: 100%;
}

.simplify-title {
  color: #292e47;
  padding: 1.5rem 1rem;
  font-size: 2rem;
}

.simplify-subtitle {
  color: #6b708d;
  padding: 0 1rem 0.25rem;
}

.simplify-completed-text {
  display: flex;
  flex-direction: row;
  float: left;
  margin-left: 1rem;
}

.simplify-completed-text em {
  color: #292e47;
  font-style: normal;
  margin-right: 0.25rem;
}

.simplify-description {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1.5rem 1rem 0;
}

.simplify-description-paragraph1, .simplify-description-paragraph2 {
  padding: 1rem;
  text-align: left;
  line-height: 1.5rem;
}

/* CONTACT FORM */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section h1 {
  color: #292e47;
  font-size: 2rem;
  text-align: center;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.contact-form label {
  color: #687080;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #e4e6f0;
  padding: 0.75rem;
  border: none;
  margin-bottom: 0.5rem;
}

.contact-form textarea {
  font-family: Roboto, sans-serif;
  width: 47%;
}

.contact-submit-btn {
  background-color: #072ac8;
  color: #f2f4fc;
  width: 55%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  text-decoration: none;
  margin: 0.5rem 1rem;
}

.contact-submit-btn:hover {
  background-color: #43d2ff;
  color: #072ac8;
  transition: .5s ease-in-out 0s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  #homelink {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* tablets  
@media (max-width: 1024px) {}
*/

/* Desktop devices */

@media (min-width: 1025px) {
  /* mavbar */
  #myTopnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.8rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #f2f4fc;
  }

 
  #topnav-contact-btn {
    background-color: #072ac8;
    color: #f2f4fc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  #topnav-contact-btn:hover {
    background-color: #43d2ff;
    color: #072ac8;
    transition: .5s ease-in-out 0s;
  }

  /* hero section */
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .hero-article-left {
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero-headline, 
  .hero-paragraph {
    text-align: left;
  }

  .hero-button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .hero-contact-btn {
    align-self: center;
    padding: 1rem;
  }

  .hero-headline {
    font-size: 4rem;
    line-height: 4rem;
    padding-bottom: 1rem;
  }

  .hero-article-right {
    width: 70vh;
  }

  /* company section */

  .collaboration-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
  }

  .collaboration-section img:hover {
    filter: none;
    cursor: pointer;
  }

  /* project section */

  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
  }

  .project-article-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .project-article {
    background-color: #fff;
    width: 30%;
    box-shadow: 0px 2.5rem 4.8rem rgba(159, 1, 238, 0.1);
  }

  .project-article img {
    width: 100%;
  }

.project-headline, 
.project-paragraph, 
.project-link {
  align-self: flex-start;
  padding-left: 1.5rem;
}
  /* testimonial section */

  .testimonial-author {
    padding-top: 5rem;
  }

  #memoji1 {
    width: 10%;
  }

  #memoji2 {
    width: 10%;
  }

  #memoji3 {
    width: 10%;
  }

  #memoji4 {
    width: 10%;
  }

  /* services section */

  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  .services-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .services-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }

  .service-image {
    margin: 1rem;
  }

  .services-article-paragraph {
    text-align: left;
    padding: 0.75rem 0;
  }
  /* newsletter section */
  
  .newsletter-section {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .newsletter-input {
    padding: 1rem 1.25rem;
  }



  .subscribe-btn {
    padding: 1rem 1.5rem;
  }

  /* footer */

  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-left {
    display: flex;
    align-items: flex-start;
  }

  .footer-address {
    text-align: left;
  }

  /* SIMPLIFY PAGE */

  .simplify-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding: 3rem;
  }

  .simplify-completed-text {
    align-self: flex-end;
  }

  .simplify-main-image {
    height: 60vh;
    box-shadow: 10px 10px 5px rgba(159, 1, 238, 0.1);
  }

  /* CONTACT PAGE */

  .contact-section {
    padding: 5rem;
  }

  .contact-section h1 {
    font-size: 2.5rem;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.75rem;
  }

  .contact-form textarea {
    height: 6rem;
    width: 98.5%;
  }

  .contact-submit-btn {
    margin: 0;
    width: 100%;
  }

   /* THANK YOU PAGE */

}
