@import url('https://fonts.googleapis.com/css?family=Roboto:100;300;400;500;700;900');

/* colors
    Primary-blue : #072AC8
    Primary-2 : #43D2FF
    Primary-3 : #A2D6F9
    Primary-4 : #D1EDFF
    Section titles : #292E47
    Testimonials background-color : #6B708D
    General background-color: #F2F4FC
    Neutral-4 : #ECF7FF
    Newsletter background-color : #FFC600
*/


* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Roboto;
    background-color: #F2F4FC;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}